
<div class="formulario">
<%= form_for [current_user, @post] do |f| %>
    <br>
    
    Publica:
    <br>
    <%= f.text_field :publicacion,class:"textbox" %>
    <br>
    Tipo de publicacion:
    <br>
    <%= f.text_field :tipo %>
    <br>
    <br>
    <%= f.submit 'Publicar',class:"boton"%>
    
<%end%>




https://www.youtube.com/embed/
</div>